.logo {
    margin-right: auto;
    padding-top: 6px;
    padding-left: 30px;
    justify-items: center;
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    z-index: 5;
}
.navigation{
    text-decoration: none;
    color: #282c34;
    padding: 25px 15px!important;
    line-height: 1;
}
