.h1 {
    text-align: center;
    padding-top: 160px;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 50px;

}

.p1 {
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    word-spacing: 2px;
    padding-top: 22px;
    padding-bottom: 20px;

}

.tac {
    margin-left: -13px;

}

.button {
    background-color: #ef5b4c !important;
    padding: 6px 60px !important;
    margin: 20px auto;
    word-spacing: 1px;
    font-family: "Open Sans", monospace;
    font-size: 16px !important;

}

.radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.radio__text {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}

.radio__text:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}

.radio__text:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #61dafb;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .2s;
}

.radio input:checked + .radio__text:after {
    opacity: 1;
}

.radio input:focus + .radio__text:before {
    box-shadow: 0 0 0 3px rgba(255, 255, 0, .7);
}

.copiright {

    font-family: "Open Sans", sans-serif;
    margin-top: 20%;
    margin-left: 35%;
}

.copiright::before {

    position: absolute;
    left: 11%;
    margin-top: 10px;
    opacity: 0.5;
    border-top: 1px solid #282c34;
    width: 30%;
    content: '';
}

.copiright::after {

    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
    opacity: 0.5;
    border-top: 1px solid #282c34;
    width: 30%;
    content: '';
}
.imgHeiht{
    max-height: 300px;
}
@media screen and (max-width: 500px) {
    .copiright::before {
        display: none;
    }
    .copiright::after {
        display: none;
    }
    .h1{
        font-size: 33px;
    }
    .p1{
        font-size: 18px;
    }
    .copiright{
        margin: 0;
    }
}