.h1 {
    text-align: center;
    padding-top: 160px;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 50px;

}
.p1{
    text-align: center;
    max-width: 450px;
    margin: 0 auto ;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    word-spacing: 2px;
    padding-top: 22px ;
    padding-bottom: 20px;

}
.tac{
margin-left: -13px;

}

.button {
    background-color: #ef5b4c !important;
    padding: 6px 60px !important;
    margin: 0 auto;
    word-spacing: 1px;
    font-family: "Open Sans", monospace;
    font-size: 16px !important;
}
